<h2>PIRPLE PIZZA CORNER!</h2>
<center><h3>The best pizza in town</h3></center>

<div>
  <p>
  <div class="blurb"> 

  The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town. The best Pizza in Town.</div>
 <p>
  <div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
  </div>
</div>