
<h2>PIRPLE PIZZA CORNER!</h2>
<center><h3>The best pizza in town</h3></center>
<br>
<div>
  <p>
  <div class="blurb"> 

  <bold>Pirple Pizza</bold> is a specialty gourmet pizza restaurant in Mumbai, India. Located in the famous Crawford Market area, <bold>Pirple Pizza</bold> serves up crispy, thin crust pizzas that have been fired to perfection. The dough is a house secret and takes five days to make</div>
 <p>
  <div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
  </div>
</div>