<h1>Menu</h1>
<h2>The Best Pizzas in town</h2>
<hr />
<div class="formWrapper" align="left">	

	<table id="menuItemTable" align="center" style="width:350px" >
	  <tr>
	  	<td style="width:100px">
	  	Pizza made from aliquip reprehenderit commodo nisi consectetur exercitation laboris in ullamco ullamco<br>
	  	Size : 8 inch thin crust
	  	Vedetarian
	  	</td>
	  	<td style="width:200px">
		<img src="https://dummyimage.com/200x200/000/fcfcfc.png&text=12-inch+pizaa" />
	  	</td>
	  	
	  </tr>
	  <tr>
	  	<td>
	  	Price : 123.66
	  	</td>
	  	<td>
	  	</td>
	  </tr>
	</table>
	

		  	<form id="accountEdit1" action="/api/users" method="PUT">
			  	<div class="inputWrapper">
			  	  <div class="inputLabel">Quantity</div>
			  	  <input class="qtyInput" type="number" name="quantity"  />
			  	</div>

			  	<div class="inputWrapper ctaWrapper">
			  	  <a class="cta blue" href="/menu/list">Back</a>		
			      <button type="submit" class="cta green">Add to Cart</button>
			    </div>
		    </form>
		</div>


<!--
------------------------
https://dummyimage.com/200x200/000/fcfcfc.png&text=12-inch+pizaa
------------------------
0,0 : desc,size,veg/nonveg
0,1 : img
1,0 : price
0,1 : qty (input)

 -->