
<table id="menuTable">
  <tr>
    <th>Crust</th>
    <th>Size</th>
    <th>Pizaa</th>
    <th>Rate</th>
    <tr>
    <td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
    <tr>
    <td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
    <tr>
    <td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
    <tr>
    <td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
    <tr>
    <td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
    <tr>
    <td>1</td><td>2</td><td>3</td><td>4</td>
    </tr>
  </tr>
</table>
<a href="javascript:prevPage()" id="btn_prev">Prev</a>
<a href="javascript:nextPage()" id="btn_next">Next</a>
page: <span id="page"></span>

