
<h1>PIRPLE PIZZA CORNER!</h1>
<h2>The best pizza in town</h2>
<div>
  <div class="blurb"> 
  <bold>Pirple Pizza</bold> is a specialty gourmet pizza restaurant in Mumbai, India. Located in the famous Crawford Market area, <bold>Pirple Pizza</bold> serves up crispy, thin crust pizzas that have been fired to perfection. The dough is a house secret and takes five days to make</div>
 <p>
  <div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
  </div>
</div>
<!-- TO REMOVE -->
